section.jumbotron.text-center
    .container
        h1 Studio Ghibli API
        include ./ghibli.svg
        p
          a.btn.btn-primary.m-2(href="https://ghibliapi.herokuapp.com/") API
          a.btn.btn-secondary.m-2(href="https://ghibliapi.herokuapp.com/#tag/Films%2Fpaths%2F~1films%2Fget") ALL Films
          